<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeremy.Customer" >

    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 友盟 -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <activity android:name=".uilt.RecommendListActivity" />

    <!-- 友盟 -->
    <application
        android:name=".http.MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uilt.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".uilt.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".uilt.RoleRegisterActivity"
            android:label="@string/title_activity_role_register" >
        </activity>
        <activity
            android:name=".uilt.AnnouncementMessageActivity"
            android:label="@string/title_activity_announcement" >
        </activity>
        <activity
            android:name=".uilt.DetailedInformationActivity"
            android:label="@string/title_activity_detailed_information" >
        </activity>
        <!-- ###################友盟使用的Activity####-开始################## -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1102291619" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55cc370967e58ead01000232" >
        </meta-data>
        <!-- ###################友盟使用的Activity####-结束################## -->

        <activity
            android:name=".uilt.MineMoreActivity"
            android:label="@string/title_activity_mine_more" >
        </activity>
        <activity
            android:name=".uilt.ModificationPswActivity"
            android:label="@string/title_activity_modification_psw" >
        </activity>
        <activity
            android:name=".uilt.FeedBackActivity"
            android:label="@string/title_activity_feed_back" >
        </activity>
        <activity
            android:name=".uilt.TalentsDeliverMessageActivity"
            android:label="@string/title_activity_talents_deliver_message" >
        </activity>
        <activity
            android:name=".uilt.MerchantJobParticularActivity"
            android:label="@string/title_activity_merchant_job_particular" >
        </activity>
        <activity android:name=".uilt.RecommenListActivity" />
        <activity
            android:name=".uilt.InviteMessageActivity"
            android:label="@string/title_activity_invite_message" >
        </activity>
    </application>

</manifest>
