<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeremy.Customer" >

    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 友盟 -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <activity android:name=".uilt.RecommendListActivity" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 友盟 -->
    <application
        android:name=".http.MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uilt.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".uilt.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".uilt.RoleRegisterActivity"
            android:label="@string/title_activity_role_register" />
        <activity
            android:name=".uilt.AnnouncementMessageActivity"
            android:label="@string/title_activity_announcement" />
        <activity
            android:name=".uilt.DetailedInformationActivity"
            android:label="@string/title_activity_detailed_information" />
        <!-- ###################友盟使用的Activity####-开始################## -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1102291619" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55cc370967e58ead01000232" />
        <!-- ###################友盟使用的Activity####-结束################## -->

        <activity
            android:name=".uilt.MineMoreActivity"
            android:label="@string/title_activity_mine_more" />
        <activity
            android:name=".uilt.ModificationPswActivity"
            android:label="@string/title_activity_modification_psw" />
        <activity
            android:name=".uilt.FeedBackActivity"
            android:label="@string/title_activity_feed_back" />
        <activity
            android:name=".uilt.TalentsDeliverMessageActivity"
            android:label="@string/title_activity_talents_deliver_message" />
        <activity
            android:name=".uilt.MerchantJobParticularActivity"
            android:label="@string/title_activity_merchant_job_particular" />
        <activity android:name=".uilt.RecommenListActivity" />
        <activity android:name=".uilt.ActivityDetailActivity" />
        <activity android:name=".uilt.TalentsDetailsActivity" />
        <activity android:name=".uilt.ActivityApplyActivity" />
        <activity android:name=".uilt.InviteMessageActivity" />
        <activity android:name=".uilt.NickNameActivity" />
        <activity android:name=".uilt.SelectPictureActivity" />
        <activity
            android:name=".uilt.CompanyInviteMessageActivity"
            android:label="@string/title_activity_company_invite_message" />
        <activity android:name=".uilt.JobDetailsActivity" />

        <!-- 测试 -->
        <activity android:name=".myActivity" />
        <activity
            android:name=".uilt.CommentGradeActivity"
            android:label="@string/title_activity_comment_grade" />
        <activity android:name=".citySelection.CitySelectionActivity" />
        <activity
            android:name=".uilt.ResumeActivity"
            android:label="@string/title_activity_resume" />
        <activity
            android:name=".uilt.AddResumeActivity"
            android:label="@string/title_activity_add_resume" />
        <activity android:name=".uilt.JobChoiceActivity" />
        <activity
            android:name=".uilt.OneselfExperienceActivity"
            android:label="@string/title_activity_oneself_experience" />
        <activity
            android:name=".uilt.ProductionResumeActivity"
            android:label="@string/title_activity_production_resume" />
        <activity
            android:name=".uilt.AddPictureActivity"
            android:label="@string/title_activity_add_picture" />
        <activity
            android:name=".uilt.AddVideoActivity"
            android:label="@string/title_activity_add_video" />
        <activity
            android:name=".uilt.AddMusicActivity"
            android:label="@string/title_activity_add_music" />
        <activity
            android:name=".uilt.AddMusicProductionActivity"
            android:label="@string/title_activity_add_music_production" />
        <activity
            android:name=".uilt.ResumeParticularsActivity"
            android:label="@string/title_activity_resume_particulars" />
        <activity
            android:name=".view.MusicActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".view.SpaceImageDetailActivity" />
        <activity
            android:name=".uilt.MerchantDeliverActivity"
            android:label="@string/title_activity_merchant_deliver" >
        </activity>
        <activity
            android:name=".uilt.MerchantInviteActivity"
            android:label="@string/title_activity_merchant_invite" >
        </activity>
        <activity
            android:name=".uilt.MerchantInformationActivity"
            android:label="@string/title_activity_merchant_information" >
        </activity>
        <activity
            android:name=".uilt.MerchantInformationPreviewActivity"
            android:label="@string/title_activity_merchant_information_preview" >
        </activity>
        <activity
            android:name=".uilt.ApplicationsListActivity"
            android:label="@string/title_activity_applications_list" >
        </activity>
        <activity android:name=".uilt.MerchantParticularsActivity" />
        <activity android:name=".uilt.AddMerchantActivity" />
        <activity
            android:name=".uilt.ModificationResumeActivity"
            android:label="@string/title_activity_modification_resume" >
        </activity>
        <activity
            android:name=".uilt.ContactInformationActivity"
            android:label="@string/title_activity_contact_information" >
        </activity>
        <activity android:name=".PagesActivity" />
        <activity android:name=".calendar.CalendarActivity" />
        <activity
            android:name=".uilt.MoreVideoActivity"
            android:label="@string/title_activity_more_video" >
        </activity>
        <activity
            android:name=".uilt.MoreMucisActivity"
            android:label="@string/title_activity_more_mucis" >
        </activity>
        <activity
            android:name=".uilt.MorePictureActivity"
            android:label="@string/title_activity_more_picture" >
        </activity>

    </application>

</manifest>
